/*
1 creazione del testo e formattazione di 1 parola da far ruotare
2 inserimento delle altre 2 parole
3 sovrapporre le 3 parole
4 mostrare 1 parola e nascondere le altre 2
5 animare 1 parola (fadein - fadeout con spostamento)
6 animare le altre 2 parole
7 ritardare progressivamente l'animazione delle altre 2 parole 
*/

body {
  background-color: #8fb9a8;
  font-family: "Bree serif";
}
main {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

#testoAlternato p {
  color: #fdfbd4;
  font-size: 3rem;
  color: rgb(255, 255, 255);
  text-shadow: -1px -1px 1px rgba(255, 255, 255, 0.2),
    1px 1px 1px rgba(0, 0, 0, 0.6);
}

.parole {
  position: relative;
  color: #765d69;
}
.parole i {
  position: absolute;
  opacity: 0;
  animation: fadein 9s infinite;
  min-width: 25rem;
  left: 0.5rem;
}

@keyframes fadein {
  from {
    opacity: 0;
    transform: translateY(-50px);
  }
  5% {
    opacity: 1;
    transform: translateY(0px);
  }
  10% {
    opacity: 1;
    transform: translateY(0px);
  }

  25% {
    opacity: 0;
    transform: translateY(50px);
  }

  to {
    opacity: 0;
    transform: translateY(50px);
  }
}

.parole i:nth-child(1) {
  animation-delay: 0s;
}
.parole i:nth-child(2) {
  animation-delay: 3s;
}
.parole i:nth-child(3) {
  animation-delay: 6s;
}
.box {
  padding: 20px;
  border-left: 2px solid gray;
  border-top: 2px solid gray;
  border-radius: 5px;
}
