body {
  background-color: #666666;
  font-family: "Indie flower";
  height: 100vh;
}

ul,
li {
  list-style: none;
  transform: rotate(-1deg);
}
ul li:nth-child(even) {
  position: relative;
  transform: rotate(5deg);
  top: 5px;
}
ul li:nth-child(3n) {
  transform: rotate(-3deg);
  background-color: #c4c3ed;
}
ul li:nth-child(4n) {
  position: relative;
  top: 7px;
}

ul li:hover {
  transform: scale(1.2);
  -webkit-box-shadow: 1px 4px 29px 6px #000000;
  box-shadow: 1px 4px 29px 6px #000000;
}

ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
li {
  width: 15rem;
  height: 15rem;
  margin: 1rem;
  background-color: #f8f8c6;
  display: flex;
  flex-direction: column;
  justify-content: center;
  -webkit-box-shadow: 1px 7px 9px -1px rgba(0, 0, 0, 0.79);
  box-shadow: 1px 7px 9px -1px rgba(0, 0, 0, 0.79);
  transition: linear 0.2s;
  box-shadow: inset 0px -30px 20px -20px #00000050, 10px 10px 8px 0px #00000080;
}
li h3 {
  font-size: 3rem;
  text-align: center;
  font-weight: bold;
  inset: 0;
}
li p {
  text-align: center;
  font-size: 1.5rem;
  inset: 0;
}
